{
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-astro"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@(components|layouts|utils|styles|content)(/.*)?$",
    "",
    "^[./]"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
